@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
  transition: 0.5s;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.darkh {
  font-size: 32px;
  color: #212121;
  transition: 0.5s;
}
.darkp {
  color: #212121;
  transition: 0.5s;
}
.darka {
  background-color: #ffcf27;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: #212121;
  transition: 0.5s;
}
.darkah {
  color: #212121;
  transition: 0.5s;
}
/* header */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px 0px;
  width: 100%;
  height: 50px;
  z-index: 1000;
  transition: 0.5s;
}
header img {
  width: 120px;
  padding-left: 32px;
  transition: 0.5s;
}
header a {
  text-decoration: none;
  color: #212121;
  padding-left: 15px;
  padding-right: 32px;
  letter-spacing: 2px;
  transition: 0.5s;
}
header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  box-sizing: border-box;
  margin-right: 3%;
}
.label {
  background-color: rgba(21, 21, 21, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 10px;
  width: 25px;
  margin-top: 2px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 15px;
  width: 15px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox:checked + .label .ball {
  transform: translateX(14px);
}

.bi-moon {
  color: #54edc1;
  font-size: 10px;
}

.bi-sun {
  color: #ffcf27;
  font-size: 10px;
}
/* sticky */
.sticky {
  background-color: rgba(21, 21, 21, 0.5);
  backdrop-filter: blur(15px);
  transition: 0.5s;
}
header.sticky a {
  color: #fff;
}
header.sticky .logo img {
  filter: invert(100%);
  transition: 0.5s;
}
header .logo {
  transition: 0.5s;
}
/* darkmode */
body.dark {
  background-color: #212121;
  transition: 0.5s;
}
body.dark .kanan a {
  color: #fff;
}
body.dark .logo img {
  filter: invert(100%);
  transition: 0.5s;
}
body.dark footer img {
  filter: invert(100%);
  transition: 0.5s;
}
body.dark .darkp {
  color: #fff;
  transition: 0.5s;
}
body.dark .darkh {
  color: #fff;
  transition: 0.5s;
}
body.dark .darka {
  background-color: #54edc1;
  transition: 0.5s;
}
body.dark footer {
  background-color: #1b1b1b;
  transition: 0.5s;
}
body.dark .darkah {
  color: #fff;
  transition: 0.5s;
}
body.dark .typing {
  color: #54edc1;
}
body.dark .tabs {
  color: #fff;
  transition: 0.5s;
}
/* home */
#home {
  margin: 0px;
  width: 100%;
}
.home_bg {
  width: 100%;
  height: 650px;
  overflow: hidden;
}
.home_bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 55%;
}
.home_content {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 10%;
  width: 85%;
}
.home_content h1 {
  font-size: 52px;
  line-height: 60px;
  margin-bottom: -15px;
  padding-bottom: 0;
}
.text-3 {
  font-size: 24px;
  margin: 15px 0px;
}
.typing {
  color: #ffcf27;
}
.home_content .text3 span {
  color: #ffcf27;
}
.home i {
  font-size: small;
}
/* works */

/* footer */
footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  transition: 0.5s;
}
.logo-foot {
  text-align: center;
}
.logo-foot img {
  width: 120px;
  transition: 0.5s;
}
.logo-foot p {
  font-size: 12px;
  opacity: 0.8;
}
.nav-foot {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-foot a {
  text-decoration: none;
  color: #212121;
}
.police {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.police a {
  text-decoration: none;
  color: #212121;
  font-size: 12px;
  opacity: 0.8;
  padding: 0 10px;
}
.socmed-foot {
  text-align: center;
}
.socmed-foot ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.icon-foot a {
  text-decoration: none;
  color: #212121;
}
.titel {
  font-size: medium;
}
/* services */
#service {
  align-items: center;
  overflow-x: hidden;
}
[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
  position: relative;
}
.tabs {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0px 10px;
  padding-inline-start: 0px !important;
  transition: 0.5s;
}
.bgslider {
  z-index: 1;
  position: absolute;
  border-radius: 10px;
  width: 80vw;
  height: 45px;
  background-color: rgba(21, 21, 21, 25%);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(21, 21, 21, 0.5);
}
.tab {
  cursor: pointer;
  padding: 10px 0px;
  z-index: 2;
}
.tab.active {
  color: #ffcf27;
}
.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}
.bg {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  position: absolute;
  opacity: 50%;
  z-index: -11;
  left: 0%;
  top: 12%;
  left: -2%;
}
.slider {
  position: absolute;
  width: 65px;
  height: 55px;
  margin-top: -8px;
  border: 3px solid #ffcf27;
  border-radius: 15px;
  box-shadow: inset 0 0 10px #ffcf27, 0 0 10px #ffcf27;
  color: transparent;
  z-index: 0;
}
.tabc {
  margin-left: 5%;
  padding-top: 50px;
  width: 40%;
}
.tabc h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 52px;
  margin: -5px 0px;
}
#video.active + .slider {
  height: 100px;
}
.offer {
  margin-left: 5%;
  font-size: 32px;
}
/* contact */
#contact {
  text-align: center;
  margin: 150px 0px;
}
/* responsive point */
@media only screen and (max-width: 600px) {
  .sticky {
    height: 35px;
  }
  header img {
    padding-left: 12px;
  }
  header a {
    padding-left: 15px;
    padding-right: 12px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer {
    max-width: 100%;
  }
  .icon-foot ul {
    margin-right: 25px;
  }
  .tabs,
  .bgslider {
    width: 95vw;
  }
  .bg {
    left: -6%;
    max-width: 100vw;
  }
  .tabc {
    margin-left: 0%;
    left: -20px;
    min-width: 80vw;
  }
  .tabc h1 {
    font-size: 42px;
    line-height: 42px;
  }
  .tabc p {
    font-size: small;
  }
}
/* responsive point */
