@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
  transition: 0.5s;
  scroll-behavior: smooth;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px 0px;
  width: 100%;
  height: 50px;
  z-index: 1000;
  transition: 0.6s;
}
header img {
  width: 120px;
  padding-left: 12px;
}
header a {
  text-decoration: none;
  color: #212121;
  padding-left: 15px;
  padding-right: 12px;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  box-sizing: border-box;
  margin-right: 3%;
}
.label {
  background-color: rgba(21, 21, 21, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 10px;
  width: 25px;
  margin-top: 2px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 15px;
  width: 15px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox:checked + .label .ball {
  transform: translateX(14px);
}

.bi-moon {
  color: #54edc1;
  font-size: 10px;
}

.bi-sun {
  color: #ffcf27;
  font-size: 10px;
}
/* HOME */
/*======= CSS variables =======*/
:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --section-bg-color2: rgb(255, 255, 255) 4;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}
/* MAIN CSS */
section {
  position: relative;
}

.section {
  color: var(--white-color);
  background: var(--section-bg-color);
  padding: 35px 200px;
  transition: 0.3s ease;
}
/*======= Home =======*/
.home {
  min-height: 100vh;
}

.home:before {
  z-index: 888;
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--section-bg-color2));
}

/*======= Background slider =======*/
.bg-slider {
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.bg-slider .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bg-slider .swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.swiper-slide .text-content {
  position: absolute;
  top: 25%;
  color: var(--white-color);
  margin: 0 200px;
  transition: 0.3s ease;
}

.swiper-slide .text-content .title {
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}

.swiper-slide-active .text-content .title {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .title span {
  font-size: 0.3em;
  font-weight: 300;
}

.swiper-slide .text-content p {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translateX(-80px);
  opacity: 0;
}

.swiper-slide-active .text-content p {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn {
  border: none;
  outline: none;
  background: var(--white-color);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(50px);
  opacity: 0;
}

.swiper-slide-active .text-content .read-btn {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i {
  font-size: 1.6em;
  transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn:hover i {
  transform: translateX(5px);
}

.dark-layer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.bg-slider-thumbs {
  z-index: 777;
  position: absolute;
  bottom: 7em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}

.thumbs-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.thumbs-container img {
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-slide-thumb-active {
  border: 1px solid var(--white-color);
}

/*======= Media icons =======*/
.media-icons {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 90px;
}

.media-icons a {
  color: var(--white-color);
  font-size: 1.7em;
  margin: 10px 0;
}

/*======= About section =======*/
.about h2 {
  font-size: 3em;
  font-weight: 600;
}

.about p {
  margin: 25px 0;
}

/*======= Media queries (max-width: 1100px) =======*/
@media screen and (max-width: 1100px) {
  header .nav-bar {
    padding: 0 50px;
  }

  .section {
    padding: 25px 50px;
  }

  .media-icons {
    right: 0;
    margin-right: 50px;
  }

  .swiper-slide .text-content {
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs {
    bottom: 3em;
  }
}

/*======= Media queries (max-width: 785px) =======*/
@media screen and (max-width: 785px) {
  header .nav-bar {
    padding: 25px 20px;
  }

  .section {
    padding: 25px 20px;
  }

  .media-icons {
    margin-right: 20px;
  }

  .media-icons a {
    font-size: 1.5em;
  }

  .swiper-slide .text-content {
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title {
    font-size: 3em;
  }

  .swiper-slide .text-content .title span {
    font-size: 0.35em;
  }

  .swiper-slide .text-content p {
    font-size: 0.9em;
  }

  /*======= Navigation menu =======*/
  .nav-menu-btn {
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-close-btn {
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .navigation {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navigation.active {
    visibility: visible;
    opacity: 1;
  }

  .navigation .nav-items {
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navigation.active .nav-items {
    transform: translateY(0);
  }

  .navigation .nav-items a {
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .navigation .nav-items a:hover {
    color: var(--navigation-item-hover-color);
  }

  .navigation .nav-items > a > i {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }

  .swiper-slide .text-content .read-btn {
    font-size: 0.9em;
    padding: 5px 15px;
  }

  /*======= About section =======*/
  .about h2 {
    font-size: 2.5em;
  }

  .about p {
    font-size: 0.9em;
  }
}
/* HOME */

/* darkmode */
body.dark {
  background-color: #212121;
  transition: 0.5s;
}
/* dark footer */
body.dark footer {
  color: #fff;
  background-color: #212121;
  transition: 0.5s;
}
body.dark footer a {
  color: #fff;
  transition: 0.5s;
}
/* dark works, service */
body.dark .works-detail,
body.dark .works-detail p,
body.dark .nav-works ul li a,
body.dark .detail,
body.dark .detail h1 {
  color: #fff;
  transition: 0.5s;
}
body.dark .logo-foot img {
  filter: invert(100%);
  transition: 0.5s;
}
body.dark .detail a,
body.dark .detail-works a {
  background-color: #54edc1;
}
/* sticky */
.sticky {
  background-color: rgba(21, 21, 21, 0.5);
  backdrop-filter: blur(20px);
  transition: 0.6s;
}
header.sticky a {
  color: #fff;
}
header.sticky .logo {
  filter: invert(100%);
  transition: 0.5s;
}
header .logo {
  transition: 0.5s;
}
/* footer */
footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  transition: 0.5s;
}
.logo-foot {
  text-align: center;
}
.logo-foot img {
  width: 120px;
}
.logo-foot p {
  font-size: 12px;
  opacity: 0.8;
}
.nav-foot {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-foot a {
  text-decoration: none;
  color: #212121;
}
.police {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.police a {
  text-decoration: none;
  color: #212121;
  font-size: 12px;
  opacity: 0.8;
  padding: 0 10px;
}
.socmed-foot {
  text-align: center;
}
.socmed-foot ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.icon-foot a {
  text-decoration: none;
  color: #212121;
}
.titel {
  font-size: medium;
}
/* SERVICE */
.title1 {
  font-size: 32px;
  font-weight: 700;
  color: #212121;
  margin: 7% 0px;
  margin-left: 5%;
}
.nav-service {
  background-color: rgba(21, 21, 21, 0.5);
  backdrop-filter: blur(20px);
  margin: 5px 15px;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(21, 21, 21, 0.5);
}
.nav-service ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.nav-service a {
  color: #fff;
  text-decoration: none;
  transition: 0.6s;
}
.nav-service a:hover {
  color: #54edc1;
}
.detail {
  display: flex;
  flex-direction: column;
}
.image-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aliceblue;
  background-position: center;
}
/* video */
.video {
  margin: 0 3%;
  margin-left: 5%;
  margin-bottom: 7%;
}
.detail {
  width: 30%;
  height: auto;
  margin: 35px 0;
  transition: 0.5s;
}
.detail a {
  background-color: #ffcf27;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  border-radius: 25px;
  color: #212121;
}
.bef-tit {
  font-size: small;
}
.detail h1 {
  font-size: 42px;
  color: #212121;
  transition: 0.5s;
}
/* works */
.works {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7% 7%;
}
.image-card img {
  width: 300px;
  border-radius: 10px;
}
.nav-works ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  color: #212121;
}
.nav-works a {
  text-decoration: none;
  color: #212121;
  font-weight: 800;
  padding: 0 15px;
  transition: 0.5s;
}
.nav-works .detail-works {
  color: #212121;
}
.works-detail {
  padding: 5%;
  transition: 0.5s;
  color: #212121;
}
.works-detail p {
  font-size: small;
  padding-bottom: 5%;
  color: #212121;
}
.detail-works a {
  text-decoration: none;
  color: #212121;
  background-color: #ffcf27;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: small;
}
/* responsive point */
@media only screen and (max-width: 600px) {
  .works {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .detail {
    width: 40%;
  }
}
